.grid {
    display: grid;
    grid-template-columns: 35% 65%;
    min-height: 100vh;

}

#col1 {
    display: grid;
    grid-column: 0;
    place-items: center;
    background-color: rgb(229, 228, 228);
}





#col1 img {
    height: auto;
    width: auto;
    max-width: 100%;
}

#col2 {
    padding-left: 10px;
    display: grid;

}

li {
    padding: 5px;
}


.bot {
    color: rgb(132, 132, 132);
}

table {
    padding-top: 30px;
    height: 40%;
}

h1 {
    height: 10%;
}

#accomplishments {
    padding: 20px;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(101, 101, 101);
    color: white;
    text-align: center;
    
}